html[data-theme="test"] {
  .card {
    background-color:rgba(#F00, 0.1);
    outline:solid 1px #F00;
  }
}

.card {
  display:grid;
  grid-auto-flow:row;
  grid-template-rows:auto;
  grid-column-gap:0;

  @media (max-width:#{ $fablet - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-row-gap:6rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-row-gap:8rem;
  }

  @media (min-width:#{ $cinema }px) {
    grid-row-gap:8rem;
  }
}

html[data-theme="test"] {
  .card__header,
  .card__region {
    background-color:rgba(#F00, 0.1);
    outline:solid 1px #F00;
  }
}

.card__title {
  @include to_upper;

  font-family:$font_meta;
  font-size:1.75rem;
  font-weight:600;
  line-height:1.5;

  padding-left:6rem;
  position:relative;

  &:before {
    background-color:currentColor;
    content:"";
    height:.25rem;
    width:4rem;

    position:absolute;
    left:0;
    top:50%;
    transform:translate3D(0, -50%, 0);
  }
}