.card {
  display:grid;
  grid-auto-flow:row;
  grid-template-rows:auto;
  grid-column-gap:0;

  @media (max-width:#{ $fablet - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-row-gap:6rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-row-gap:8rem;
  }

  @media (min-width:#{ $cinema }px) {
    grid-row-gap:8rem;
  }
}

.card__head_1° {
  @include head_1°;

  font-feature-settings:'liga', 'clig', 'dlig', 'onum';
  font-weight:400;

  padding-left:6rem;
  position:relative;

  &:before {
    background-color:currentColor;
    content:"";
    height:1px;
    width:4rem;

    position:absolute;
    left:0;
    top:50%;
    transform:translate3D(0, 0, 0);
  }
}