.cell {
  display:grid;
  grid-auto-flow:row;
  grid-template-rows:1fr;
  grid-column-gap:0;
  grid-row-gap:2rem;
}

.cell {
  img {
    filter:contrast(75%) saturate(75%);
    transition:filter #{ $beat }s ease-in-out;
  }
}

.cell:hover {
  img {
    filter:contrast(82.5%) saturate(82.5%);
  }
}

.cell__header {
  border-radius:4px;
  transition:background-color #{ $beat }s ease-in-out;

  @media (max-width:#{ $fablet - 1 }px) {
    padding:4rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    padding:4rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    padding:4rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    padding:6rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    padding:8rem;
  }

  @media (min-width:#{ $cinema }px) {
    padding:8rem;
  }
}

html[data-theme="dark"] {
  .grid__node:nth-child(1) .cell[data-category="article"] {
    .cell__header {
      background-color:#2980b9;
    }

    &:hover .cell__header {
      background-color:mix(#3498db, #2980b9, 50%);
    }
  }

  .grid__node:nth-child(1) .cell[data-category="project"] {
    .cell__header {
      background-color:#8e44ad;
    }

    &:hover .cell__header {
      background-color:mix(#9b59b6, #8e44ad, 50%);
    }
  }

  .grid__node:nth-child(2) .cell[data-category="project"] {
    .cell__header {
      background-color:#c0392b;
    }

    &:hover .cell__header {
      background-color:mix(#e74c3c, #c0392b, 50%);
    }
  }

  .grid__node:nth-child(3) .cell[data-category="project"] {
    .cell__header {
      background-color:#f39c12;
    }

    &:hover .cell__header {
      background-color:mix(#f1c40f, #f39c12, 50%);
    }
  }

  .grid__node:nth-child(4) .cell[data-category="project"] {
    .cell__header {
      background-color:#16a085;
    }

    &:hover .cell__header {
      background-color:mix(#1abc9c, #16a085, 50%);
    }
  }

  .grid__node:nth-child(5) .cell[data-category="project"] {
    .cell__header {
      background-color:#27ae60;
    }

    &:hover .cell__header {
      background-color:mix(#2ecc71, #27ae60, 50%);
    }
  }

  .grid__node:nth-child(6) .cell[data-category="project"] {
    .cell__header {
      background-color:#d35400;
    }

    &:hover .cell__header {
      background-color:mix(#e67e22, #d35400, 50%);
    }
  }
}

html[data-theme="lite"] {
  .grid__node:nth-child(1) .cell[data-category="article"] {
    .cell__header {
      background-color:#34ace0;
    }

    &:hover .cell__header {
      background-color:mix(#227093, #34ace0, 50%);
    }
  }

  .grid__node:nth-child(1) .cell[data-category="project"] {
    .cell__header {
      background-color:#706fd3;
    }

    &:hover .cell__header {
      background-color:mix(#474787, #706fd3, 50%);
    }
  }

  .grid__node:nth-child(2) .cell[data-category="project"] {
    .cell__header {
      background-color:#d1ccc0;
    }

    &:hover .cell__header {
      background-color:mix(#d1ccc0, #84817a, 50%);
    }
  }

  .grid__node:nth-child(3) .cell[data-category="project"] {
    .cell__header {
      background-color:#ffda79;
    }

    &:hover .cell__header {
      background-color:mix(#ccae62, #ffda79, 50%);
    }
  }

  .grid__node:nth-child(4) .cell[data-category="project"] {
    .cell__header {
      background-color:#33d9b2;
    }

    &:hover .cell__header {
      background-color:mix(#33d9b2, #218c74, 50%);
    }
  }

  .grid__node:nth-child(5) .cell[data-category="project"] {
    .cell__header {
      background-color:#ffb142;
    }

    &:hover .cell__header {
      background-color:mix(#ffb142, #cc8e35, 50%);
    }
  }

  .grid__node:nth-child(6) .cell[data-category="project"] {
    .cell__header {
      background-color:#ff793f;
    }

    &:hover .cell__header {
      background-color:mix(#ff793f, #cd6133, 50%);
    }
  }
}

@media (max-width:#{ $fablet - 1 }px) {
  .grid--1_up\@mobile .cell__header {

  }
}

@media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
  .grid--1_up\@fablet .cell__header {

  }
}

@media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
  .grid--1_up\@tablet_portrait .cell__header {

  }
}

@media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
  .grid--1_up\@tablet_landscape .cell__header {
    padding-left:12.5%;
    padding-right:12.5%;
  }
}

@media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
  .grid--1_up\@laptop .cell__header {
    padding-left:16.667%;
    padding-right:16.667%;
  }
}

@media (min-width:#{ $cinema }px) {
  .grid--1_up\@cinema .cell__header {
    padding-left:20%;
    padding-right:20%;
  }
}

.cell__region {
  @include head_2°;
}

@media (max-width:#{ $fablet - 1 }px) {
  .grid--1_up\@mobile .cell__region {

  }
}

@media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
  .grid--1_up\@fablet .cell__region {

  }
}

@media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
  .grid--1_up\@tablet_portrait .cell__region {

  }
}

@media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
  .grid--1_up\@tablet_landscape .cell__region {
    width:calc(50% - 2rem);
  }
}

@media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
  .grid--1_up\@laptop .cell__region {
    width:calc(50% - 2rem);
  }
}

@media (min-width:#{ $cinema }px) {
  .grid--1_up\@cinema .cell__region {
    width:calc(50% - 2rem);
  }
}

.cell__head_1°,
.cell__head_2° {
  display:inline;
  font-family:$font_head;
}

.cell__head_1° {
  font-feature-settings:'liga', 'clig', 'dlig', 'onum';
  font-weight:700;
}

.cell__head_2° {
  font-weight:400;

  &:before {
    content:"\A0\2014\A0";
    font-weight:300;
  }
}