.copy {
  h2, h3, dl, ol, ul, p, figcaption {
    @include P2;

    margin-left:auto;
    margin-right:auto;
    max-width:calc(#{ $tablet_landscape }px - #{ 8 + 8 + 8 + 8 }rem);

    &:not(:first-child) {
      margin-top:2rem;
    }

    &:not(:last-child) {
      margin-bottom:2rem;
    }
  }

  ol, ul, p, figcaption {
    @media (min-width:#{ $tablet_landscape }px) {
      text-align:justify;
    }
  }

  p a {
    border-bottom:solid 1px #F03F35;
    color:#F03F35;
    transition:border-color ease-in-out #{ $beat }s, color ease-in-out #{ $beat }s;

    &:hover {
      border-color:#FC8F88;
      color:#FC8F88;
    }
  }

  h2, h3 {
    &:not(:first-child) {
      margin-top:4rem;
    }
  }

  h2 + h3 {
    &:not(:first-child) {
      margin-top:2rem;
    }
  }

  h2 {
    @include H2;

    color:#383837;
    font-weight:700;
  }

  h3 {
    @include H3;

    color:#A9A8A6;
    font-weight:700;
  }

  figure {
    &:not(:first-child) {
      margin-top:4rem;
    }

    &:not(:last-child) {
      margin-bottom:4rem;
    }
  }

  figcaption {
    @include P1;

    color:#A9A8A6;
  }

  img, picture {
    display:block;
    height:auto;
    width:100%;
  }

  img {
    @media (max-width:#{ $fablet - 1 }px) {
      transform:translate3D(-2rem, 0, 0);
      width:calc(100% + 4rem);
    }

    @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
      transform:translate3D(-4rem, 0, 0);
      width:calc(100% + 8rem);
    }

    @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
      transform:translate3D(-4rem, 0, 0);
      width:calc(100% + 8rem);
    }

    @media (min-width:#{ $tablet_landscape }px) {
      transform:translate3D(-8rem, 0, 0);
      width:calc(100% + 16rem);
    }
  }
}