.gint {
  @media (max-width:#{ $fablet - 1 }px) {
    display:grid;
    grid-auto-flow:row;
    grid-template-columns:1fr;
    grid-column-gap:0;
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    display:grid;
    grid-auto-flow:row;
    grid-template-columns:1fr 1fr;
    grid-column-gap:4rem;
    grid-row-gap:0;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    display:grid;
    grid-auto-flow:row;
    grid-template-columns:1fr 1fr;
    grid-column-gap:4rem;
    grid-row-gap:0;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    display:grid;
    grid-auto-flow:row;
    grid-template-columns:1fr 1fr;
    grid-column-gap:4rem;
    grid-row-gap:0;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    display:grid;
    grid-auto-flow:row;
    grid-template-columns:1fr 1fr;
    grid-column-gap:4rem;
    grid-row-gap:0;
  }

  @media (min-width:#{ $cinema }px) {
    display:grid;
    grid-auto-flow:row;
    grid-template-columns:1fr 1fr;
    grid-column-gap:4rem;
    grid-row-gap:0;
  }
}

.gint__list {
  @include P0;
}

.gint__node {
  @media (max-width:#{ $fablet - 1 }px) {

  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {

  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {

  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {

  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {

  }

  @media (min-width:#{ $cinema }px) {

  }
}

.gint__node--dt {
  display:none;
}

.gint__link {
  white-space:nowrap;
}