.lead {
  @media (max-width:#{ $fablet - 1 }px) {
    padding-bottom:0;
    padding-top:0;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    padding-bottom:8rem;
    padding-top:8rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    padding-bottom:8rem;
    padding-top:8rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    padding-bottom:12rem;
    padding-top:12rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    padding-bottom:16rem;
    padding-top:16rem;
  }

  @media (min-width:#{ $cinema }px) {
    padding-bottom:16rem;
    padding-top:16rem;
  }
}

.lead__head_1° {
  @include lead_1°;

  font-feature-settings:'liga', 'clig', 'dlig', 'onum';
  font-weight:700;
}