html[data-theme="test"] {
  .logo {
    background-color:rgba(#F00, 0.1);
    outline:solid 1px #F00;
  }
}

.logo {
  @include hide_text;

  background-color:transparent;
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:100% 100%;

  @media (max-width:#{ $fablet - 1 }px) {
    height:8rem;
    width:8rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    height:8rem;
    width:8rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    height:8rem;
    width:8rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    height:8rem;
    width:8rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    height:8rem;
    width:8rem;
  }

  @media (min-width:#{ $cinema }px) {
    height:8rem;
    width:8rem;
  }
}

html[data-theme="dark"] {
  .logo {
    background-image:url(../images/dark/logo--square.svg);
  }
}

html[data-theme="lite"] {
  .logo {
    background-image:url(../images/lite/logo--square.svg);
  }
}

a.logo {
  display:block;
}