.menu {
  @media (max-width:#{ $fablet - 1 }px) {
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
  }

  @media (min-width:#{ $fablet }px) {
    display:flex;
    align-items:center;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:flex-start;
  }
}

.menu__list {
  @include to_upper;

  font-family:$font_meta;
  font-size:1.625rem;
  font-weight:400;
  line-height:1.5;

  display:flex;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;

  @media (max-width:#{ $fablet - 1 }px) {
    &:not(:last-child) {
      margin-right:4rem;
    }
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    &:not(:last-child) {
      margin-right:4rem;
    }
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    &:not(:last-child) {
      margin-right:8rem;
    }
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    &:not(:last-child) {
      margin-right:6rem;
    }
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    &:not(:last-child) {
      margin-right:8rem;
    }
  }

  @media (min-width:#{ $cinema }px) {
    &:not(:last-child) {
      margin-right:8rem;
    }
  }
}

@media (max-width:#{ $fablet - 1 }px) {
  .menu--cols\@mobile .menu__list {
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start;
  }
}

.menu__node {
  @media (max-width:#{ $fablet - 1 }px) {
    &:not(:last-child) {
      margin-right:2rem;
    }
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    &:not(:last-child) {
      margin-right:2rem;
    }
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    &:not(:last-child) {
      margin-right:4rem;
    }
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    &:not(:last-child) {
      margin-right:4rem;
    }
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    &:not(:last-child) {
      margin-right:4rem;
    }
  }

  @media (min-width:#{ $cinema }px) {
    &:not(:last-child) {
      margin-right:4rem;
    }
  }
}

@media (max-width:#{ $fablet - 1 }px) {
  .menu--cols\@mobile .menu__node:not(:last-child) {
    margin-bottom:2rem;
    margin-right:0;
  }
}

@media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
  .menu--rows\@fablet .menu__node:not(:last-child) {
    margin-bottom:0;
    margin-right:8rem;

    position:relative;

    &:after {
      background-color:currentColor;
      content:"";
      height:2px;
      width:4rem;

      position:absolute;
      right:0;
      top:50%;
      transform:translate3D(6rem, -50%, 0);
    }
  }
}

@media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
  .menu--rows\@tablet_portrait .menu__node:not(:last-child) {
    margin-bottom:0;
    margin-right:8rem;

    position:relative;

    &:after {
      background-color:currentColor;
      content:"";
      height:2px;
      width:4rem;

      position:absolute;
      right:0;
      top:50%;
      transform:translate3D(6rem, -50%, 0);
    }
  }
}

@media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
  .menu--rows\@tablet_landscape .menu__node:not(:last-child) {
    margin-bottom:0;
    margin-right:10rem;

    position:relative;

    &:after {
      background-color:currentColor;
      content:"";
      height:2px;
      width:6rem;

      position:absolute;
      right:0;
      top:50%;
      transform:translate3D(8rem, -50%, 0);
    }
  }
}

@media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
  .menu--rows\@laptop .menu__node:not(:last-child) {
    margin-bottom:0;
    margin-right:12rem;

    position:relative;

    &:after {
      background-color:currentColor;
      content:"";
      height:2px;
      width:8rem;

      position:absolute;
      right:0;
      top:50%;
      transform:translate3D(10rem, -50%, 0);
    }
  }
}

@media (min-width:#{ $cinema }px) {
  .menu--rows\@cinema .menu__node:not(:last-child) {
    margin-bottom:0;
    margin-right:12rem;

    position:relative;

    &:after {
      background-color:currentColor;
      content:"";
      height:2px;
      width:8rem;

      position:absolute;
      right:0;
      top:50%;
      transform:translate3D(10rem, -50%, 0);
    }
  }
}

.menu__link,
.menu__text {
  color:var(--body_foreground_2);
  display:block;
}

.menu__link {
  font-weight:600;
  transition:color #{ $beat }s ease-in-out;
  white-space:nowrap;

  &:hover,
  &.hover {
    color:var(--body_foreground_1);
  }

  strong {
    font-weight:600;
  }

  @media (max-width:#{ $fablet - 1 }px) {

  }

  @media (min-width:#{ $fablet }px) {
    position:relative;

    &:after {
      background-color:currentColor;
      content:'';
      transition:width #{ $beat }s ease-in-out;

      height:2px;
      width:0;

      position:absolute;
      bottom:-.8rem;
      left:0;
    }

    &:hover:after,
    &.hover:after {
      width:100%;
    }
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {

  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {

  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {

  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {

  }

  @media (min-width:#{ $cinema }px) {

  }
}

@media (max-width:#{ $fablet - 1 }px) {
  .menu--cols\@mobile .menu__link {

  }
}

@media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
  .menu--rows\@fablet .menu__link {
    color:var(--body_foreground_1);
  }
}

@media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
  .menu--rows\@tablet_portrait .menu__link {
    color:var(--body_foreground_1);
  }
}

@media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
  .menu--rows\@tablet_landscape .menu__link {
    color:var(--body_foreground_1);
  }
}

@media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
  .menu--rows\@laptop .menu__link {
    color:var(--body_foreground_1);
  }
}

@media (min-width:#{ $cinema }px) {
  .menu--rows\@cinema .menu__link {
    color:var(--body_foreground_1);
  }
}

.menu__link[disabled] {
  color:var(--body_foreground_2);
  cursor:not-allowed;

  &:after {
    width:0;
  }
}