.menu {
  display:flex;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
}

.menu--cols\@mobile {
  @media (max-width:#{ $fablet - 1 }px) {
    flex-direction:column;
  }
}

.menu--cols\@fablet {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    flex-direction:column;
  }
}

.menu--rows\@tablet_portrait {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    flex-direction:row;
  }
}

.menu--rows\@tablet_landscape {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    flex-direction:row;
  }
}

.menu--rows\@laptop {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    flex-direction:row;
  }
}

.menu--rows\@cinema {
  @media (min-width:#{ $cinema }px) {
    flex-direction:row;
  }
}

.menu__list {
  @include P1;
  font-weight:800;

  display:flex;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;

  &:not(:last-child) {
    margin-right:4rem;
  }
}

.menu--cols\@mobile .menu__list {
  @media (max-width:#{ $fablet - 1 }px) {
    flex-direction:column;

    &:not(:last-child) {
      margin-bottom:4rem;
      margin-right:0;
    }
  }
}

.menu--cols\@fablet .menu__list {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    flex-direction:column;

    &:not(:last-child) {
      margin-bottom:4rem;
      margin-right:0;
    }
  }
}

.menu--rows\@tablet_portrait .menu__list {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    flex-direction:row;

    &:not(:last-child) {
      margin-bottom:0;
      margin-right:4rem;
    }
  }
}

.menu--rows\@tablet_landscape .menu__list {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    flex-direction:row;

    &:not(:last-child) {
      margin-bottom:0;
      margin-right:4rem;
    }
  }
}

.menu--rows\@laptop .menu__list {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    flex-direction:row;

    &:not(:last-child) {
      margin-bottom:0;
      margin-right:8rem;
    }
  }
}

.menu--rows\@cinema .menu__list {
  @media (min-width:#{ $cinema }px) {
    flex-direction:row;

    &:not(:last-child) {
      margin-bottom:0;
      margin-right:8rem;
    }
  }
}

.menu__node:not(:last-child) {
  margin-right:2rem;
  position:relative;

  &:after {
    background-color:currentColor;
    color:currentColor;
    content:'';

    height:0;
    width:0;
    position:absolute;
  }
}

.menu--cols\@mobile .menu__node:not(:last-child) {
  @media (max-width:#{ $fablet - 1 }px) {
    margin-bottom:8rem;
    margin-right:0;

    &:after {
      height:4rem;
      width:2px;

      right:50%;
      bottom:-6rem;
    }
  }
}

.menu--cols\@fablet .menu__node:not(:last-child) {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    margin-bottom:8rem;
    margin-right:0;

    &:after {
      height:4rem;
      width:2px;

      right:50%;
      bottom:-6rem;
    }
  }
}

.menu--rows\@tablet_portrait .menu__node:not(:last-child) {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    margin-bottom:0;
    margin-right:8rem;

    &:after {
      height:2px;
      width:4rem;

      right:-6rem;
      top:50%;
      transform:translate3D(0, 0, 0);
    }
  }
}

.menu--rows\@tablet_landscape .menu__node:not(:last-child) {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    margin-bottom:0;
    margin-right:8rem;

    &:after {
      height:2px;
      width:4rem;

      right:-6rem;
      top:50%;
      transform:translate3D(0, 0, 0);
    }
  }
}

.menu--rows\@laptop .menu__node:not(:last-child) {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    margin-bottom:0;
    margin-right:12rem;

    &:after {
      height:2px;
      width:8rem;

      right:-10rem;
      top:50%;
      transform:translate3D(0, 0, 0);
    }
  }
}

.menu--rows\@cinema .menu__node:not(:last-child) {
  @media (min-width:#{ $cinema }px) {
    margin-bottom:0;
    margin-right:12rem;

    &:after {
      height:2px;
      width:8rem;

      right:-10rem;
      top:50%;
      transform:translate3D(0, 0, 0);
    }
  }
}

.menu__link {
  position:relative;
  white-space:nowrap;

  &:after {
    background-color:currentColor;
    color:currentColor;
    content:'';
    height:2px;
    width:0;

    position:absolute;
    bottom:calc(-1rem + 2px);
    left:0;
    transition:width #{ $beat }s ease-in-out;
  }

  &:hover:after,
  &.hover:after {
    width:100%;
  }
}

a.menu__link {
  display:block;
}

.menu__link[disabled] {
  cursor:not-allowed;

  &:after {
    width:0 !important;
  }
}