.meta {

}

.meta__list {
  display:flex;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
}

.meta__node {
  &:not(:last-child) {
    margin-right:.5rem;
  }
}

.meta__text {
  @include meta_2°;
  font-weight:500;

  background-color:var(--link_foreground_1);
  border-radius:2px;
  color:var(--link_background_1);
  display:block;
  padding:.875rem 1.5rem;
}