.post_grid {
  img {
    transform:translate3D(0, 0, 0) !important;
    width:100% !important;
  }
}

.post_grid__list {
  display:grid;
  grid-auto-flow:row;
  grid-column-gap:2rem;
  grid-row-gap:2rem;
}

@for $i from 1 through 4 {
  .post_grid--#{ $i }_up\@mobile .post_grid__list {
    @media (max-width:#{ $fablet - 1 }px) {
      grid-template-columns:repeat(#{ $i }, 1fr);
    }
  }

  .post_grid--#{ $i }_up\@fablet .post_grid__list {
    @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
      grid-template-columns:repeat(#{ $i }, 1fr);
    }
  }

  .post_grid--#{ $i }_up\@tablet_portrait .post_grid__list {
    @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
      grid-template-columns:repeat(#{ $i }, 1fr);
    }
  }

  .post_grid--#{ $i }_up\@tablet_landscape .post_grid__list {
    @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
      grid-template-columns:repeat(#{ $i }, 1fr);
    }
  }

  .post_grid--#{ $i }_up\@laptop .post_grid__list {
    @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
      grid-template-columns:repeat(#{ $i }, 1fr);
    }
  }

  .post_grid--#{ $i }_up\@cinema .post_grid__list {
    @media (min-width:#{ $cinema }px) {
      grid-template-columns:repeat(#{ $i }, 1fr);
    }
  }
}

.post_grid__link,
.post_grid__text {
  border:solid .5rem #EAE9E9;
  display:block;
  padding:.5rem;
}

.post_grid__link {
  transition:border-color ease-in-out #{ $beat }s;

  &:hover {
    border-color:#F03F35;
  }
}