.post {
  background-color:var(--post_background_1);
  color:var(--post_foreground_1);

  @media (max-width:#{ $fablet - 1 }px) {
    margin-left:-2rem;
    margin-right:-2rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    margin-left:-4rem;
    margin-right:-4rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    border-radius:4px;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    border-radius:4px;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    border-radius:4px;
  }

  @media (min-width:#{ $cinema }px) {
    border-radius:4px;
  }
}

.post__header,
.post__region {
  @media (max-width:#{ $fablet - 1 }px) {
    padding:4rem 2rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    padding:4rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    padding:4rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    padding:6rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    padding:8rem;
  }

  @media (min-width:#{ $cinema }px) {
    padding:8rem;
  }
}

.post__header {
  border-bottom:solid 1px var(--post_foreground_3);
  margin-bottom:-1px;

  display:grid;
  grid-auto-flow:row;
  grid-template-columns:1fr;
  grid-template-rows:auto;
  grid-column-gap:0;

  @media (max-width:#{ $fablet - 1 }px) {
    grid-row-gap:2rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-row-gap:4rem;
  }

  @media (min-width:#{ $cinema }px) {
    grid-row-gap:4rem;
  }
}

.post__head_1° {
  @include lead_1°;

  font-feature-settings:'liga', 'clig', 'dlig', 'onum';
  font-weight:700;

  &:not(:last-child) {
    grid-row:2;
  }
}

.post__region {
  h2, h3, h4, h5, h6, dl, ol, ul, p, figcaption {
    @media (max-width:#{ $fablet - 1 }px) {

    }

    @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {

    }

    @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {

    }

    @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {

    }

    @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
      margin-left:auto;
      margin-right:auto;
      width:calc(#{ $tablet_landscape }px - #{ 6rem + 6rem + 6rem + 6rem });
    }

    @media (min-width:#{ $cinema }px) {
      margin-left:auto;
      margin-right:auto;
      width:calc(#{ $tablet_landscape }px - #{ 6rem + 6rem + 6rem + 6rem });
    }
  }

  h2, h3, h4, h5, h6 {
    &:not(:first-child) {
      margin-top:4rem;
    }

    &:not(:last-child) {
      margin-bottom:2rem;
    }
  }

  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    &:not(:first-child) {
      margin-top:2rem;
    }
  }

  h2 {
    @include head_1°;

    color:var(--post_foreground_1);
    font-feature-settings:'liga', 'clig', 'dlig', 'onum';
    font-weight:700;
  }

  h3 {
    @include head_1°;

    color:var(--post_foreground_2);
    font-feature-settings:'liga', 'clig', 'dlig', 'onum';
    font-style:italic;
    font-weight:500;
  }

  h4 {

  }

  h5 {

  }

  h6 {

  }

  dl, ol, ul, p, figcaption {
    @include body_1°;
    font-weight:400;

    @media (max-width:#{ $fablet - 1 }px) {

    }

    @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {

    }

    @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {

    }

    @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
      text-align:justify;
    }

    @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
      text-align:justify;
    }

    @media (min-width:#{ $cinema }px) {
      text-align:justify;
    }
  }

  dl, ol, ul, p {
    &:not(:first-child) {
      margin-top:2rem;
    }

    &:not(:last-child) {
      margin-bottom:2rem;
    }
  }

  ul {
    list-style-type:disc;

    @media (max-width:#{ $fablet - 1 }px) {
      list-style-position:inside;
    }

    @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
      list-style-position:inside;
    }

    @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
      list-style-position:inside;
    }

    @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
      list-style-position:inside;
    }

    @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
      list-style-position:outside;
    }

    @media (min-width:#{ $cinema }px) {
      list-style-position:outside;
    }
  }

  li {
    &:not(:first-child) {
      margin-top:1rem;
    }

    &:not(:last-child) {
      margin-bottom:1rem;
    }
  }

  figure {
    display:grid;
    grid-auto-flow:row;
    grid-template-columns:1fr;
    grid-template-rows:auto;
    grid-column-gap:0;

    @media (max-width:#{ $fablet - 1 }px) {
      grid-row-gap:2rem;

      &:not(:first-child) {
        margin-top:2rem;
      }

      &:not(:last-child) {
        margin-bottom:2rem;
      }
    }

    @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
      grid-row-gap:4rem;

      &:not(:first-child) {
        margin-top:4rem;
      }

      &:not(:last-child) {
        margin-bottom:4rem;
      }
    }

    @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
      grid-row-gap:4rem;

      &:not(:first-child) {
        margin-top:4rem;
      }

      &:not(:last-child) {
        margin-bottom:4rem;
      }
    }

    @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
      grid-row-gap:4rem;

      &:not(:first-child) {
        margin-top:4rem;
      }

      &:not(:last-child) {
        margin-bottom:4rem;
      }
    }

    @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
      grid-row-gap:4rem;

      &:not(:first-child) {
        margin-top:4rem;
      }

      &:not(:last-child) {
        margin-bottom:4rem;
      }
    }

    @media (min-width:#{ $cinema }px) {
      grid-row-gap:4rem;

      &:not(:first-child) {
        margin-top:4rem;
      }

      &:not(:last-child) {
        margin-bottom:4rem;
      }
    }
  }

  figure ul,
  figure li {
    list-style:none !important;
    margin-bottom:0 !important;
    margin-top:0 !important;
  }

  figure ul {
    background-color:var(--post_background_2);

    display:grid;
    grid-auto-flow:row;
    grid-template-rows:auto;

    @media (max-width:#{ $fablet - 1 }px) {
      padding:2rem;
      transform:translate3D(-2rem, 0, 0);
      width:100%;

      grid-template-columns:1fr;
      grid-column-gap:0;
      grid-row-gap:2rem;
    }

    @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
      padding:4rem;
      transform:translate3D(-4rem, 0, 0);
      width:100%;

      grid-template-columns:1fr;
      grid-column-gap:0;
      grid-row-gap:4rem;
    }

    @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
      padding:4rem;
      transform:translate3D(-4rem, 0, 0);
      width:100%;

      grid-template-columns:1fr;
      grid-column-gap:0;
      grid-row-gap:4rem;
    }

    @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
      padding:6rem;
      transform:translate3D(-6rem, 0, 0);
      width:100%;

      grid-column-gap:6rem;
      grid-row-gap:6rem;

      &[data-count="1"] {
        grid-template-columns:1fr;
      }

      &[data-count="2"],
      &[data-count="4"] {
        grid-template-columns:1fr 1fr;
      }
    }

    @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
      padding:8rem;
      transform:translate3D(-8rem, 0, 0);
      width:100%;

      grid-column-gap:8rem;
      grid-row-gap:8rem;

      &[data-count="1"] {
        grid-template-columns:1fr;
      }

      &[data-count="2"],
      &[data-count="4"] {
        grid-template-columns:1fr 1fr;
      }
    }

    @media (min-width:#{ $cinema }px) {
      padding:8rem;
      transform:translate3D(-8rem, 0, 0);
      width:100%;

      grid-column-gap:8rem;
      grid-row-gap:8rem;

      &[data-count="1"] {
        grid-template-columns:1fr;
      }

      &[data-count="2"],
      &[data-count="4"] {
        grid-template-columns:1fr 1fr;
      }
    }

    a {
      border:none !important;
      display:block;
    }

    img {
      border-radius:2px;
      box-shadow:0 0 2rem rgba(#000, .2);
    }
  }

  figcaption {
    @include body_2°;

    color:var(--post_foreground_2);
    font-weight:400;
  }

  picture {
    @media (max-width:#{ $fablet - 1 }px) {
      transform:translate3D(-2rem, 0, 0);
      width:calc(100% + 4rem);
    }

    @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
      transform:translate3D(-4rem, 0, 0);
      width:calc(100% + 8rem);
    }

    @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
      transform:translate3D(-4rem, 0, 0);
      width:calc(100% + 8rem);
    }

    @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
      transform:translate3D(-6rem, 0, 0);
      width:calc(100% + 12rem);
    }

    @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
      transform:translate3D(-8rem, 0, 0);
      width:calc(100% + 16rem);
    }

    @media (min-width:#{ $cinema }px) {
      transform:translate3D(-8rem, 0, 0);
      width:calc(100% + 16rem);
    }
  }

  a {
    border-bottom:solid 1px var(--link_foreground_1);
    color:var(--link_foreground_1);
    transition:border-color #{ $beat }s ease-in-out, color #{ $beat }s ease-in-out;

    &:hover {
      border-color:transparent;
      color:var(--link_foreground_2);
    }
  }
}