.post_meta__list {
  @include P1;

  display:flex;
  align-content:center;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
}

.post_meta__node {
  color:var(--foreground-tint-color-1);
  position:relative;

  &:not(:last-child) {
    margin-right:3rem;

    &:after {
      color:currentColor;
      content:"\2B";
      text-align:center;
      width:1rem;

      position:absolute;
      right:-2rem;
      top:0;
    }
  }
}