$mobile:375;
$fablet:667;
$tablet_portrait:768;
$tablet_landscape:1024;
$laptop:1280;
$cinema:1680;

$beat:#{ (1 / 24) * 4 };

@mixin hide_text {
  text-align:left;
  text-indent:-9999px;
  overflow:hidden;
  white-space:nowrap;
}

@mixin to_lower {
  letter-spacing:0;
  text-transform:none;
  white-space:normal;
}

@mixin to_upper {
  letter-spacing:.15em;
  text-transform:uppercase;
  white-space:nowrap;
}