@import 'reset';
@import 'tools';

/*
COLOURS:

Grey 1°: #EBEAE6
Grey 2°: #F3F2F0
Grey 3°: #F7F7F5
Grey 4°: #FBFBFA

Blue 1°: #B7E3E4
Blue 2°: #D5EEEE
Blue 3°: #E3F4F4
Blue 4°: #F1F9F9

Pink 1°: #F03F35
Pink 2°: #FC8F88
Pink 3°: #FFB5B1
Pink 4°: #FFDAD8

Text 1°: #383837
Text 2°: #A9A8A6
Text 3°: #EAE9E9

*/

:root {
  --background-body-color-1:#EBEAE6;

  --foreground-body-color-1:#383837;
  --foreground-body-color-2:#A9A8A6;

  --background-post-color-1:#FBFBFA;

  --foreground-post-color-1:#383837;
  --foreground-post-color-2:#A9A8A6;


  --foreground-tint-color-1:#F03F35;
  --foreground-tint-color-2:#FC8F88;
}

/*
SIZES:

16
18
21
24
30
36
48

*/

@mixin P1 {
  font-size:2rem;
  line-height:3rem;
}

@mixin P2 {
  font-size:2.25rem;
  line-height:4rem;
}

@mixin H3 {
  @media (max-width:#{ $fablet - 1 }px) {
    font-size:2.25rem;
    line-height:1.5;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    font-size:2.25rem;
    line-height:1.5;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    font-size:2.625rem;
    line-height:1.5;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    font-size:2.625rem;
    line-height:1.5;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    font-size:3rem;
    line-height:1.5;
  }

  @media (min-width:#{ $cinema }px) {
    font-size:3rem;
    line-height:1.5;
  }
}

@mixin H2 {
  @media (max-width:#{ $fablet - 1 }px) {
    font-size:2.625rem;
    line-height:1.5;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    font-size:2.625rem;
    line-height:1.5;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    font-size:3rem;
    line-height:1.5;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    font-size:3rem;
    line-height:1.5;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    font-size:3.75rem;
    line-height:1.5;
  }

  @media (min-width:#{ $cinema }px) {
    font-size:3.75rem;
    line-height:1.5;
  }
}

@mixin H1 {
  @media (max-width:#{ $fablet - 1 }px) {
    font-size:3rem;
    line-height:1.5;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    font-size:3rem;
    line-height:1.5;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    font-size:3.75rem;
    line-height:1.4;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    font-size:3.75rem;
    line-height:1.4;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    font-size:6rem;
    line-height:1.4;
  }

  @media (min-width:#{ $cinema }px) {
    font-size:6rem;
    line-height:1.4;
  }
}

html {
  font-size:8px;
  font-smoothing:subpixel-antialiased;
  font-variant-numeric:tabular-nums;
  text-size-adjust:none;
}

body {
  background-color:var(--background-body-color-1);
  color:var(--foreground-body-color-1);

  font-family:'ibm-plex-sans', 'IBM Plex Sans', sans-serif;
  font-weight:400;

  &:after {
    content:'';
    background-image:url(../images/body-valencia.svg);
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;

    bottom:0;
    left:0;
    right:0;
    top:0;
    position:fixed;
    z-index:-1;
  }
}

a {
  color:inherit;
  text-decoration:none;
}

em, i {
  font-style:italic;
}

b, strong {
  font-weight:800;
}

.hide {
  display:none;
}

.hide\@mobile {
  @media (max-width:#{ $fablet - 1 }px) {
    display:none;
  }
}

.hide\@fablet {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    display:none;
  }
}

.hide\@tablet_portrait {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    display:none;
  }
}

.hide\@tablet_landscape {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    display:none;
  }
}

.hide\@laptop {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    display:none;
  }
}

.hide\@cinema {
  @media (min-width:#{ $cinema }px) {
    display:none;
  }
}

@import 'layouts/site_area';

@import 'layouts/site_footer_area';
@import 'layouts/site_header_area';
@import 'layouts/site_main_area';
@import 'layouts/site_menu_area';

@import 'objects/grid';
@import 'objects/grid_cell';

@import 'objects/post';
@import 'objects/post_meta';

@import 'objects/card';
@import 'objects/copy';
@import 'objects/lead';
@import 'objects/logo';
@import 'objects/menu';

/* ARGH! */

.turbolinks-progress-bar {
  background-color:var(--foreground-tint-color-1);
  height:.5rem;
}