@import 'reset';
@import 'tools';

/*
COLOURS:

Grey 1°: #EBEAE6
Grey 2°: #F3F2F0
Grey 3°: #F7F7F5
Grey 4°: #FBFBFA

Blue 1°: #B7E3E4
Blue 2°: #D5EEEE
Blue 3°: #E3F4F4
Blue 4°: #F1F9F9

Pink 1°: #F03F35
Pink 2°: #FC8F88
Pink 3°: #FFB5B1
Pink 4°: #FFDAD8

Text 1°: #383837
Text 2°: #A9A8A6
Text 3°: #EAE9E9

TYPE:

12/18 - META (*)
14/22
16/24
18/28
21/28 - BODY (*), CELL (M), MENU (*), POST H3 (M)
24/32 - CARD (M), CELL (L + T), POST H3 (L + T)
30/40 - LEAD (M), POST (M), CARD (L + T), POST H2 (L + T)
36/48 - LEAD (T), POST (T)
48/60 - LEAD (L), POST (L)

*/

$font_head:'skolar-sans-latin', sans-serif;
$font_body:'skolar-latin', sans-serif;
$font_meta:'skolar-sans-latin', sans-serif;

html {
  font-smoothing:subpixel-antialiased;
  font-variant-numeric:tabular-nums;
  text-size-adjust:none;

  @media (max-width:#{ $fablet - 1 }px) {
    font-size:7px;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    font-size:7px;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    font-size:8px;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    font-size:8px;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    font-size:8px;
  }

  @media (min-width:#{ $cinema }px) {
    font-size:8px;
  }
}

:root {
  --post_background_1:#F7F7F5;
  --post_background_2:#EBEAE6;

  --post_foreground_1:#383837;
  --post_foreground_2:#A9A8A6;

  --link_background_1:#FBFBFA;
  --link_foreground_1:#F03F35;
};

html[data-theme="dark"] {
  --body_background_1:#383837;

  --body_foreground_1:#EBEAE6;
  --body_foreground_2:#70706F;
}

html[data-theme="lite"] {
  --body_background_1:#EBEAE6;

  --body_foreground_1:#383837;
  --body_foreground_2:#A9A8A6;
}

html[data-theme="test"] {
  body {
    background-color:#FFF;
    color:#000;
  }
}

body {
  background-color:var(--body_background_1);
  color:var(--body_foreground_1);

  display:grid;
  grid-auto-flow:row;
  grid-template-rows:1fr;
  grid-column-gap:0;

  margin-left:auto;
  margin-right:auto;
  max-width:calc(#{ $cinema }px - #{ 16rem + 16rem });
  position:relative;

  &:after {
    content:'';
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;

    bottom:0;
    left:0;
    right:0;
    top:0;
    position:fixed;
    z-index:-1;
  }

  @media (max-width:#{ $fablet - 1 }px) {
    grid-row-gap:8rem;
    padding:4rem 2rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-row-gap:8rem;
    padding:4rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-row-gap:8rem;
    padding:4rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-row-gap:12rem;
    padding:6rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-row-gap:16rem;
    padding:8rem;
  }

  @media (min-width:#{ $cinema }px) {
    grid-row-gap:16rem;
    padding:8rem 16rem;
  }
}

html[data-theme="dark"] {
  body:after {
    background-image:url(../images/dark/body-valencia.svg);
  }
}

html[data-theme="lite"] {
  body:after {
    background-image:url(../images/lite/body-valencia.svg);
  }
}

h1, h2, h3, h4, h5, h6, dl, ol, ul, p, figcaption {
  font-family:$font_body;
  font-size:2.625rem;
  font-weight:400;
  line-height:4rem;
}

a {
  color:inherit;
  text-decoration:none;
}

em, i {
  font-style:italic;
}

b, strong {
  font-weight:600;
}

img {
  display:block;
  height:auto;
  margin:0;
  padding:0;
  width:100%;
}

img[src*="placeholder"] {
  opacity:0.1;
}

@import 'layouts/site_header_area';
@import 'layouts/site_main_area';
@import 'layouts/site_menu_area';
@import 'layouts/site_footer_area';

@import 'objects/card';
@import 'objects/grid';
@import 'objects/lead';
@import 'objects/post';

@import 'objects/cell';
@import 'objects/logo';
@import 'objects/menu';
@import 'objects/meta';

/* ARGH! */

.turbolinks-progress-bar {
  background-color:var(--link_foreground_1);
  height:.5rem;
}