= wrap_layout :default do
  %div{ class: :site_main_area__region }
    %div{ class: :post }
      %div{ class: :post__header }
        %h1{ class: :post__head_1° }
          #{ current_page.data.title }.

        %div{ class: :meta }
          %ul{ class: :meta__list }
            - current_page.tags.each do |tag|
              %li{ class: :meta__node }
                %span{ class: :meta__text }
                  = tag

      %div{ class: :post__region }
        = yield
