.blobs {
  img {
    transform:translate3D(0, 0, 0) !important;
    width:100% !important;
  }  
}

.blobs_list {
  display:grid;
  grid-auto-rows:1fr;
}

.blobs-1_up\@mobile .blobs_list {
  @media (max-width:#{ $fablet - 1 }px) {
    grid-column-gap:1.5rem;
    grid-row-gap:1.5rem;
    grid-template-columns:1fr;
  }
}

.blobs-1_up\@fablet .blobs_list {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-column-gap:1.5rem;
    grid-row-gap:1.5rem;
    grid-template-columns:1fr;
  }
}

.blobs-1_up\@tablet_portrait .blobs_list {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr;
  }
}

.blobs-1_up\@tablet_landscape .blobs_list {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr;
  }
}

.blobs-1_up\@laptop .blobs_list {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr;
  }
}

.blobs-1_up\@cinema .blobs_list {
  @media (min-width:#{ $cinema }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr;
  }
}

.blobs-2_up\@mobile .blobs_list {
  @media (max-width:#{ $fablet - 1 }px) {
    grid-column-gap:1.5rem;
    grid-row-gap:1.5rem;
    grid-template-columns:1fr 1fr;
  }
}

.blobs-2_up\@fablet .blobs_list {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-column-gap:1.5rem;
    grid-row-gap:1.5rem;
    grid-template-columns:1fr 1fr;
  }
}

.blobs-2_up\@tablet_portrait .blobs_list {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr;
  }
}

.blobs-2_up\@tablet_landscape .blobs_list {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr;
  }
}

.blobs-2_up\@laptop .blobs_list {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr;
  }
}

.blobs-2_up\@cinema .blobs_list {
  @media (min-width:#{ $cinema }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr;
  }
}

.blobs-3_up\@mobile .blobs_list {
  @media (max-width:#{ $fablet - 1 }px) {
    grid-column-gap:1.5rem;
    grid-row-gap:1.5rem;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.blobs-3_up\@fablet .blobs_list {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-column-gap:1.5rem;
    grid-row-gap:1.5rem;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.blobs-3_up\@tablet_portrait .blobs_list {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.blobs-3_up\@tablet_landscape .blobs_list {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.blobs-3_up\@laptop .blobs_list {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.blobs-3_up\@cinema .blobs_list {
  @media (min-width:#{ $cinema }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.blobs-4_up\@mobile .blobs_list {
  @media (max-width:#{ $fablet - 1 }px) {
    grid-column-gap:1.5rem;
    grid-row-gap:1.5rem;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.blobs-4_up\@fablet .blobs_list {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-column-gap:1.5rem;
    grid-row-gap:1.5rem;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.blobs-4_up\@tablet_portrait .blobs_list {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.blobs-4_up\@tablet_landscape .blobs_list {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.blobs-4_up\@laptop .blobs_list {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.blobs-4_up\@cinema .blobs_list {
  @media (min-width:#{ $cinema }px) {
    grid-column-gap:2rem;
    grid-row-gap:2rem;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}

.blobs_anchor,
.blobs_text {
  border:solid .5rem $foreground_3;
  display:block;
  padding:.5rem;
}

.blobs_anchor {
  transition:border-color ease-in-out #{ $beat }s;
  
  &:hover {
    border-color:$highlights_1;
  }
}