.calls_list {
  @include secondary_subtitle;

  display:flex;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
}

.calls_node {
  position:relative;
  
  &:not(:last-child) {
    margin-right:4rem;
  }
}

.calls_anchor {
  background-color:$foreground_1;
  color:$background_1;
  
  align-items:stretch;
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:center; 
  
  height:6rem;
  padding-left:2rem;
  padding-right:2rem; 
  
  transition:background-color ease-in-out #{ $beat }s, color ease-in-out #{ $beat }s;
  
  &:hover,
  &.button-over {
    background-color:$highlights_1;
    color:$background_1;
  }
}

.calls_plus {
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    @include hide_text;
    display:block;
    position:relative;
    width:2rem;

    &:after,
    &:before {
      background-color:currentColor;
      content:'';
      position:absolute;
      left:50%;
      top:50%;
      transform:translate3D(-50%, -50%, 0);
      transition:background-color ease-in-out #{ $beat }s;
    }

    &:after {
      height:2px;
      width:2rem;
    }

    &:before {
      height:2rem;
      width:2px;
    }
  }
}