.card {
  display:grid;
  grid-row-gap:4rem;
}

.card_h1 {
  @include tertiary_title;
  
  margin-left:6rem;
  position:relative;

  &:after {
    background-color:currentColor;
    content:'';
    height:2px;
    width:4rem;
    
    position:absolute;
    right:100%;
    top:50%;
    transform:translate3D(-2rem, -50%, 0);
  }
}