.cells_list {
  display:grid;
  grid-auto-rows:1fr;
}

.cells-1_up\@mobile .cells_list {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-column-gap:3rem;
    grid-row-gap:3rem;
    grid-template-columns:1fr;
  }
}

.cells-2_up\@fablet .cells_list {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-column-gap:3rem;
    grid-row-gap:3rem;
    grid-template-columns:1fr 1fr;
  }
}

.cells-2_up\@tablet_portrait .cells_list {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-column-gap:4rem;
    grid-row-gap:4rem;
    grid-template-columns:1fr 1fr;
  }
}

.cells-2_up\@tablet_landscape .cells_list {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-column-gap:4rem;
    grid-row-gap:4rem;
    grid-template-columns:1fr 1fr;
  }
}

.cells-3_up\@laptop .cells_list {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-column-gap:4rem;
    grid-row-gap:4rem;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.cells-3_up\@cinema .cells_list {
  @media (min-width:#{ $cinema }px) {
    grid-column-gap:4rem;
    grid-row-gap:4rem;
    grid-template-columns:1fr 1fr 1fr;
  }
}

.cells-2_up\@fablet .cells_node {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    &:nth-child(2n) {
      transform:translate3D(0, 6rem, 0);
    }
  }
}

.cells-2_up\@tablet_portrait .cells_node {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    &:nth-child(2n) {
      transform:translate3D(0, 6rem, 0);
    }
  }
}

.cells-2_up\@tablet_landscape .cells_node {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    &:nth-child(2n) {
      transform:translate3D(0, 6rem, 0);
    }
  }
}

.cells-3_up\@laptop .cells_node {
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    &:nth-child(3n - 1) {
      transform:translate3D(0, 6rem, 0);
    }
  }
}

.cells-3_up\@cinema .cells_node {
  @media (min-width:#{ $cinema }px) {
    &:nth-child(3n - 1) {
      transform:translate3D(0, 6rem, 0);
    }
  }
}