.cell {
  background-color:$background_1;
  color:$foreground_1;
  display:grid;
  grid-template-areas:
    ". . ." 
    ". cell_meta ." 
    ". . ."
    ". cell_head ."
    ". . ."
    "cell_foot cell_foot cell_foot"
    ". . ."
  ;
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    grid-template-columns:3rem auto 3rem;
    grid-template-rows:3rem auto 3rem 1fr 3rem auto 3rem;
  }
  
  @media (min-width:#{ $tablet_portrait }px) {
    grid-template-columns:4rem auto 4rem;
    grid-template-rows:4rem auto 2rem 1fr 4rem auto 4rem;
  }
}

.cell_head {
  grid-area:cell_head;
}

.cell_meta {
  grid-area:cell_meta;
}

.cell_foot {
  grid-area:cell_foot;
  transform:translate3D(-1rem, 0, 0);
}

.cell_h1 {
  @include secondary_title;
}