.deets_list {
  @include secondary_copy;
  
  display:flex;
  align-content:center;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
}

.deets_node {
  position:relative;

  &:not(:last-child) {
    margin-right:3rem;
    
    &:after {
      content:'';
      text-align:center;
      width:1rem;
      
      position:absolute;
      right:-2rem;
      top:0;
    }
  }
}

.deets-misc .deets_node {
  color:$foreground_2;
  
  &:not(:last-child):after {
    content:"\B7";
  }
}

.deets-tags .deets_node {
  color:$highlights_1;
  
  &:not(:last-child):after {
    content:"\2B";
  }
}