.grid {
  display:grid;
    
  margin-left:auto;
  margin-right:auto;
  max-width:#{ $cinema }px;
  min-height:100vh;
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    grid-template-areas:
      ". . ."
      ". grid_header ."
      ". . ."
      ". grid_body ."
      ". . ."
      ". grid_menu ."
      ". . ."
      ". grid_meta ."
      ". . ."
      ". grid_footer ."
      ". . ."
    ;
  
    grid-template-columns:3rem 1fr 3rem;
    grid-template-rows:3rem 6rem 6rem auto 6rem auto 6rem auto 6rem auto 3rem;
  }
  
  @media (min-width:#{ $tablet_portrait }px) {
    grid-template-areas:
      ". . ."
      ". grid_header ."
      ". . ."
      ". grid_body ."
      ". . ."
      ". grid_footer ."
      ". . ."
    ;
  }
  
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px)  {
    grid-template-columns:4rem 1fr 4rem;
    grid-template-rows:4rem 8rem 12rem auto 12rem auto 4rem;
  }
  
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px)  {
    grid-template-columns:4rem 1fr 4rem;
    grid-template-rows:4rem 8rem 12rem auto 12rem auto 4rem;
  }
  
  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px){
    grid-template-columns:8rem 1fr 8rem;
    grid-template-rows:8rem 8rem 12rem auto 12rem auto 8rem;
  }
  
  @media (min-width:#{ $cinema }px) {
    grid-template-columns:16rem 1fr 16rem;
    grid-template-rows:8rem 8rem 12rem auto 12rem auto 8rem;
  }
}

.grid_header {
  grid-area:grid_header;
  color:$foreground_1;
  
  display:flex;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;
}

.grid_menu {
  grid-area:grid_head;
  color:$foreground_1;
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    grid-area:grid_menu;
  }
  
  @media (min-width:#{ $tablet_portrait }px) {
    grid-area:grid_header;
    
    display:flex;
    align-items:center;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
  }
}

.grid_body {
  grid-area:grid_body;
  color:$foreground_1;
}

.grid_meta {
  color:$foreground_2;
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    grid-area:grid_meta;
  }
  
  @media (min-width:#{ $tablet_portrait }px) {
    grid-area:grid_footer;
  
    display:flex;
    align-items:center;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:center;
  }
}

.grid_footer {
  grid-area:grid_footer;
  color:$foreground_2;
}