.hide {
  display:none !important;
}

.hide\@mobile {
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    display:none !important;
  }
}

.hide\@fablet {
  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    display:none !important;
  }
}

.hide\@tablet_portrait {
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    display:none !important;
  }
}

.hide\@tablet_landscape {
  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    display:none !important;
  }
}

.hide\@laptop {
  @media (min-width:#{ $laptop }px) {
    display:none !important;
  }
}

.hide\@cinema {
  @media (min-width:#{ $cinema }px) {
    display:none !important;
  }
}