.lead {
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    padding-bottom:6rem;
    padding-top:6rem;
  }
  
  @media (min-width:#{ $tablet_portrait }px) {
    padding-bottom:12rem;
    padding-top:12rem;
  }
}

.lead_h1 {
  @include primary_title;
}