.lines {
  background-color:$background_1;
  color:$foreground_1;
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    padding-bottom:3rem;
    padding-top:3rem;
  }
  
  @media (min-width:#{ $tablet_portrait }px) {
    padding-bottom:2rem;
    padding-top:2rem;
  }
}

.lines_list {
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    display:grid;
    grid-row-gap:2rem;
  }
}