.line {
  display:grid;
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    grid-template-columns:3rem 1fr 3rem 6rem;
    grid-template-rows:auto auto;

    grid-template-areas:
      ". line_meta . line_foot"
      ". line_head . line_foot"
    ;
  }

  @media (min-width:#{ $tablet_portrait }px) {
    grid-template-columns:4rem auto 4rem 1fr 4rem auto;
    grid-template-rows:6rem;
    
    grid-template-areas:
      ". line_meta . line_head . line_foot"
    ;
  }
}

.line_head,
.line_meta,
.line_foot {
  align-self:center;
  justify-self:start;
}

.line_head {
  grid-area:line_head;
}

.line_meta {
  grid-area:line_meta;
}

.line_foot {
  grid-area:line_foot;
  transform:translate3D(+1rem, 0, 0);
  
  display:flex;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
}

.line_h1,
.line_h2 {
  @include secondary_copy;
  
  color:$foreground_2;
  white-space:normal;
}

.line-withCaseStudy {
  .line_h1 {
    color:$foreground_1;
  }
  
  .line_h2 {
    color:$highlights_1;
  }
}