.logo {
  position:relative;
  z-index:999;
}

.logo_anchor {
  @include hide_text;
  
  display:block;
  
  background-color:$background_2;
  background-image:url(../images/logo_anchor.svg);
  background-position:50% 50%;
  background-repeat:no-repeat;
  background-size:100% 100%;
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    height:6rem;
    width:6rem;
  }

  @media (min-width:#{ $tablet_portrait }px) {
    height:8rem;
    width:8rem;
  }
}