.post {
  background-color:$background_1;
  color:$foreground_1;
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    margin-left:-3rem;
    margin-right:-3rem;
  }
  
  @media (min-width:#{ $tablet_portrait }px) {
    margin-left:0;
    margin-right:0;
  }
}

.post_head,
.post_body {
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    padding:3rem;
  }
  
  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    padding:4rem;
  }
  
  @media (min-width:#{ $tablet_landscape }px) {
    padding:8rem;
  }
}

.post_head {
  border-bottom:solid 1px $background_3;
  display:grid;
  grid-template-areas:"post_tags" "." "post_desc" "." "post_misc"; 
  
  @media (max-width:#{ $tablet_portrait - 1 }px) {
    grid-template-columns:1fr;
    grid-template-rows:auto 3rem auto 3rem auto;  
  }
  
  @media (min-width:#{ $tablet_portrait }px) {
    grid-template-columns:1fr;
    grid-template-rows:auto 4rem auto 4rem auto;  
  }
}

.post_desc {
  grid-area:post_desc;
}

.post_misc {
  grid-area:post_misc;
}

.post_tags {
  grid-area:post_tags;
}

.post_h1 {
  @include primary_title;
}