html[data-theme="test"] {
  .site_header_area {
    background-color:rgba(#0F0, 0.1);
    outline:solid 1px #0F0;
  }
}

.site_header_area {
  display:flex;
  align-items:center;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:space-between;

  @media (max-width:#{ $fablet - 1 }px) {
    &:not(:first-child) {
      margin-top:4rem;
    }

    &:not(:last-child) {
      margin-bottom:4rem;
    }
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    &:not(:first-child) {
      margin-top:4rem;
    }

    &:not(:last-child) {
      margin-bottom:4rem;
    }
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    &:not(:first-child) {
      margin-top:4rem;
    }

    &:not(:last-child) {
      margin-bottom:4rem;
    }
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    &:not(:first-child) {
      margin-top:6rem;
    }

    &:not(:last-child) {
      margin-bottom:6rem;
    }
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    &:not(:first-child) {
      margin-top:8rem;
    }

    &:not(:last-child) {
      margin-bottom:8rem;
    }
  }

  @media (min-width:#{ $cinema }px) {
    &:not(:first-child) {
      margin-top:8rem;
    }

    &:not(:last-child) {
      margin-bottom:8rem;
    }
  }
}

html[data-theme="test"] {
  .site_header_area__region {
    background-color:rgba(#0F0, 0.1);
    outline:solid 1px #0F0;
  }
}

.site_header_area__region {
  @media (max-width:#{ $fablet - 1 }px) {

  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {

  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {

  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {

  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {

  }

  @media (min-width:#{ $cinema }px) {

  }
}