.site_area {
  max-width:calc(#{ $cinema }px - #{ 2 * 16rem });
  position:relative;

  @media (max-width:#{ $fablet - 1 }px) {
    margin:2rem;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    margin:4rem;
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    margin:4rem;
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    margin:8rem;
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    margin:8rem;
  }

  @media (min-width:#{ $cinema }px) {
    margin:8rem auto;
  }
}