[data-test=true] {
  .site_footer_area {
    background-color:rgba(#0F0, 0.1);
    outline:solid 1px #0F0;
  }
}

.site_footer_area {
  @media (max-width:#{ $fablet - 1 }px) {
    display:flex;
    align-items:flex-start;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:center;
  }

  @media (min-width:#{ $fablet }px) {
    display:flex;
    align-items:center;
    flex-direction:row-reverse;
    flex-wrap:nowrap;
    justify-content:space-between;
  }
}

[data-test=true] {
  .site_footer_area__region {
    background-color:rgba(#0F0, 0.1);
    outline:solid 1px #0F0;
  }
}

.site_footer_area__region {
  @media (max-width:#{ $fablet - 1 }px) {
    &:not(:last-child) {
      margin-bottom:4rem;
    }
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {

  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {

  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {

  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {

  }

  @media (min-width:#{ $cinema }px) {

  }
}