html[data-theme="test"] {
  .site_menu_area {
    background-color:rgba(#0F0, 0.1);
    outline:solid 1px #0F0;
  }
}

.site_menu_area {
  @media (max-width:#{ $fablet - 1 }px) {

  }

  @media (min-width:#{ $fablet }px) {
    display:flex;
    align-items:center;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;

    height:8rem;
    right:0;
    top:0;
    position:absolute;
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {

  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {

  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {

  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {

  }

  @media (min-width:#{ $cinema }px) {

  }
}

html[data-theme="test"] {
  .site_menu_area__region {
    background-color:rgba(#0F0, 0.1);
    outline:solid 1px #0F0;
  }
}