.site_menu_area {
  @media (max-width:#{ $fablet - 1 }px) {

  }

  @media (min-width:#{ $fablet }px) {
    display:flex;
    align-items:center;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-between;

    height:8rem;

    position:absolute;
    left:50%;
    top:0;
    transform:translate3D(-50%, 0, 0);
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {

  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {

  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {

  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {

  }

  @media (min-width:#{ $cinema }px) {

  }
}

.site_menu_area__region {

}