html[data-theme="test"] {
  .site_main_area {
    background-color:rgba(#0F0, 0.1);
    outline:solid 1px #0F0;
  }
}

.site_main_area {
  display:grid;
  grid-auto-flow:row;
  grid-template-rows:1fr;
  grid-column-gap:0;

  @media (max-width:#{ $fablet - 1 }px) {
    grid-row-gap:8rem;

    &:not(:first-child) {
      margin-top:8rem;
    }

    &:not(:last-child) {
      margin-bottom:8rem;
    }
  }

  @media (min-width:#{ $fablet }px) and (max-width:#{ $tablet_portrait - 1 }px) {
    grid-row-gap:8rem;

    &:not(:first-child) {
      margin-top:8rem;
    }

    &:not(:last-child) {
      margin-bottom:8rem;
    }
  }

  @media (min-width:#{ $tablet_portrait }px) and (max-width:#{ $tablet_landscape - 1 }px) {
    grid-row-gap:8rem;

    &:not(:first-child) {
      margin-top:8rem;
    }

    &:not(:last-child) {
      margin-bottom:8rem;
    }
  }

  @media (min-width:#{ $tablet_landscape }px) and (max-width:#{ $laptop - 1 }px) {
    grid-row-gap:12rem;

    &:not(:first-child) {
      margin-top:12rem;
    }

    &:not(:last-child) {
      margin-bottom:12rem;
    }
  }

  @media (min-width:#{ $laptop }px) and (max-width:#{ $cinema - 1 }px) {
    grid-row-gap:16rem;

    &:not(:first-child) {
      margin-top:16rem;
    }

    &:not(:last-child) {
      margin-bottom:16rem;
    }
  }

  @media (min-width:#{ $cinema }px) {
    grid-row-gap:16rem;

    &:not(:first-child) {
      margin-top:16rem;
    }

    &:not(:last-child) {
      margin-bottom:16rem;
    }
  }
}

html[data-theme="test"] {
  .site_main_area__region {
    background-color:rgba(#0F0, 0.1);
    outline:solid 1px #0F0;
  }
}